<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Yonsei Lost & Found</title>
    <!-- Chrome, Safari, IE -->
    <link rel="shortcut icon" href="기본형_심볼-01.jpg" type="image/jpg" />
    <link rel="icon" href="기본형_심볼-01.jpg" type="image/jpg" />

 <link rel="stylesheet" type="text/css" href="static/css/style.css">
    </head>

        <body>
            <header>
                <div class="container">
                    <!-- Logo -->
                    <div class="logo">
                        <img src="/imges/기본형_심볼-03-removebg-preview.png" alt="Yonsei" style="width: 225px; height: auto;">
                    </div>

                    <!-- Langugages -->
                    <ul class="gnb_lang">
                        <li><a href="{{ url_for('index_ko') }}">한국어</a></li>
                        <li><a href="{{ url_for('index_en') }}">ENGLISH</a></li>
                        <li><a href="{{ url_for('index_ch') }}">中文</a></li>
                    </ul>
                </div>
                


<div class="findList">

    <div class="lost_qfind2">
        <h1>Search for your item!</h1>
    </br>

            <div class="list">
                <!-- Name -->
                <label for="PRDT_CL_NM">Name of the item:</label><br>
                <input type="text" id="PRDT_CL_NM" name="PRDT_CL_NM"><br><br>

                <!-- Date -->
                <label for="START_YMD">When did you lost?</label><br>
                <input type="date" id="START_YMD" name="START_YMD"><br><br>

                    <!-- Building  -->
                    <label for="DEP_PLACE">Which building?</label><br>
                    <select name="uBuilding" id="uBuilding">
                        <option value="ALL" selected>ALL</option>
                        <option value="102">Y-플라자</option>
                        <option value="101">언더우드기념도서관</option>
                        <option value="203">운동장</option>
                        <option value="302">자유관A</option>
                        <option value="301">자유관B</option>
                        <option value="510">저에너지친환경실험주택</option>
                        <option value="501">종합관</option>
                        <option value="401">진리관A</option>
                        <option value="402">진리관B</option>
                        <option value="502">진리관C</option>
                        <option value="503">진리관D</option>
                    </select>
            </div>
            <input type="submit" value="Submit">
        </form>
        </div>
        </div>
        </body>
    </header>
        </html>

