* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

link[rel="icon"] {
  width: auto;
  height: auto;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),
    url(/static/images/main_page.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  display: flex;
  border: 20px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
}

.logo {
  margin-right: auto;
  margin-left: 20px;
}
ul {
  float: right;
  list-style-type: none;
  margin-top: 0px;
  padding: 0px;
  margin-right: 20px;
}

ul li {
  display: inline-block;
  margin-right: 10px;
}

ul li a {
  position: relative;
  text-decoration: none;
  color: #000;
  padding: 5px 20px;
  border: 0px solid #000;
  transition: 0.1s ease;
}

ul li a:hover {
  color: #4169e1;
}

/* 添加选中状态的下划线效果 */
ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4169e1;
  transition: width 0.3s ease;
}

ul li a:hover::after,
ul li a.active::after {
  width: 100%;
}

/* 为当前选中的页面添加.active类 */
ul li a.active {
  color: #4169e1;
}

.title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title h1 {
  color: #fff;
  font-size: 60px;
  font-family: "Noto sans", sans-serif;
  text-align: center;
}

.title h2 {
  padding: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.buttons-container {
  list-style-type: none;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#button1,
#button2 {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  transition: 0.1s ease;
  font-size: large;
  margin: 0 50px;
  transform: scale(1.2);
}

#button1:hover,
#button2:hover {
  background-color: #4169e1;
  color: #fff;
}
