<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>Yonsei Lost & Found</title>
    <!-- Chrome, Safari, IE -->
    <link
      rel="shortcut icon"
      href="static/images/기본형_심볼-01_cut.png"
      type="image/png"
    />
    <link
      rel="icon"
      href="static/images/기본형_심볼-01_cut.png"
      type="image/png"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <h2>연세 유실물 센터 로그인</h2>

    <form action="/auth/login" method="POST">
      <input type="text" name="email" required />
      <input type="password" name="password" required />
      <button type="submit">로그인</button>
    </form>

    <p>아직 회원이 아니신가요? <a href="/ko/signup">회원가입</a></p>
  </body>
</html>
