<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Yonsei Lost & Found</title>
    <!-- Chrome, Safari, IE -->
    <link
      rel="icon"
      href="static/images/기본형_심볼-01_cut.png"
      type="image/png"
    />
      <link rel="stylesheet" type="text/css" href="/static/css/style_auth.css" />
  </head>

  <body>
      <header>
      <div class="container">
        <!-- Logo -->
        <div class="logo">
      <a href="{{ url_for('index_ko') }}">
          <img
            src="/static/images/기본형_심볼-03-removebg-preview.png"
            alt="Yonsei"
            style="width: 235px; height: auto"
          />
        </a>
      </div>

          <ul>
      <li><a href="{{ url_for('login_ko') }}">로그인</a></li>
      <li><a href="{{ url_for('signup_ko') }}">회원가입</a></li>
      <li><a href="{{ url_for('map_ko')}}">지도</a></li>
      <li>
        <a href="#" class="has-dropdown">Languages</a>
        <div class="language-dropdown">
          <a href="{{ url_for('index_ko') }}">한국어</a>
          <a href="{{ url_for('index_en') }}">English</a>
          <a href="{{ url_for('index_ch') }}">中文</a>
        </div>
      </li>
    </ul>
  </div>

      </header>

<div class="login-wrapper">
  <div class="login-card">
    <h2>로그인</h2>
    <form action="/auth/login" method="POST">
      <label for="email">이메일</label>
      <input id="email" name="email" type="text" required />

      <label for="password">비밀번호</label>
      <input id="password" name="password" type="password" required />

      <button type="submit">로그인</button>
    </form>
    <p>아직 회원이 아니신가요? <a href="/ko/signup">회원가입</a></p>
  </div>
</div>
</body>
</html>
