<!DOCTYPE html>
<html lang="ch">
  <head>
    <meta charset="utf-8" />
    <title>Yonsei Lost & Found</title>
    <!-- Chrome, Safari, IE -->
    <link
      rel="shortcut icon"
      href="/imges/기본형_심볼-01.jpg"
      type="image/jpg"
    />
    <link rel="icon" href="/imges/기본형_심볼-01.jpg" type="image/jpg" />
    <!-- Correct the href attribute to include the file extension '.css' -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img
            src="/imges/기본형_심볼-03-removebg-preview.png"
            alt="Yonsei"
            style="width: 225px; height: auto"
          />
        </div>
        <div class="title">
          <h1>延世大学失物招领平台</h1>
        </div>
        <ul class="gnb_lang">
          <li><a href="/templates/ko/find_ko.html">한국어</a></li>
          <li><a href="/templates/en/index_en.html">ENGLISH</a></li>
          <li><a href="/templates/ch/index_ch.html">中文</a></li>
        </ul>
      </div>

      <div class="buttons-container">
        <button id="button1">登记物品</button>
        <button id="button2">查找丢失物品</button>
      </div>

      <!-- Button href -->
      <script>
        var button1 = document.getElementById("button1");
        var button2 = document.getElementById("button2");

        button1.addEventListener("click", function () {
          window.location.href = "/ch/register_ch.html";
        });

        button2.addEventListener("click", function () {
          window.location.href = "/ch/find_ch.html";
        });
      </script>
    </header>
  </body>
</html>
