<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="utf-8">
    <title>Yonsei Lost & Found</title>
    <!-- Chrome, Safari, IE -->
    <link rel="shortcut icon" href="/imges/기본형_심볼-01.jpg" type="image/jpg" />
    <link rel="icon" href="/imges/기본형_심볼-01.jpg" type="image/jpg" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <header>
    <div class="container">
        <!-- Logo -->
        <div class="logo">
            <img src="/imges/기본형_심볼-03-removebg-preview.png" alt="Yonsei" style="width: 225px; height: auto;">
        </div>
        
        <!-- Langugages -->
        <ul class="gnb_lang">
            <li><a href="/ko/index_ko.html" >한국어</a></li>
            <li><a href="/en/index_en.html" >ENGLISH</a></li>
            <li><a href="/ch/index_ch.html" >中文</a></li>
        </ul>
    </div>

<div class="findList">

    <div class="lost_qfind2">
        <h2>登记你捡到的物品!</h2>
    </br>

            <div class="list">
                <!-- 습득물 종류 입력 -->
                <label for="PRDT_CL_NM">物品类别:</label><br>
                <input type="text" id="PRDT_CL_NM" name="PRDT_CL_NM"><br><br>

                <!-- 날짜입력 -->
                <label for="START_YMD">捡到的时间:</label><br>
                <input type="date" id="START_YMD" name="START_YMD"><br><br>

                <!-- 습득물명 입력 -->
                <label for="PRDT_NM">物品名字:</label><br>
                <input type="text" id="PRDT_NM" name="PRDT_NM"><br><br>

                    <!-- 건물 선택  -->
                    <label for="DEP_PLACE">捡到的场所:</label><br>
                    <select name="uBuilding" id="uBuilding">
                        <option value="ALL" selected>全部</option>
                        <option value="102">Y-플라자</option>
                        <option value="101">언더우드기념도서관</option>
                        <option value="203">운동장</option>
                        <option value="302">자유관A</option>
                        <option value="301">자유관B</option>
                        <option value="510">저에너지친환경실험주택</option>
                        <option value="501">종합관</option>
                        <option value="401">진리관A</option>
                        <option value="402">진리관B</option>
                        <option value="502">진리관C</option>
                        <option value="503">진리관D</option>
                    </select>
            </div>
            <input type="submit" value="提交">
        </form>
        </div>
        </div>
</body>
</header>
</html>

